In [39]:
# Import the dependencies
import pandas as pd 
import gmaps
import requests
# Import the API key
from config import g_key

In [3]:
# Store the CSV you saved (which as the city data created in part one) into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dawei,MM,2020-10-21 17:47:42,14.08,98.20,74.55,89,44,3.58
1,1,Kapaa,US,2020-10-21 17:47:42,22.08,-159.32,71.60,88,20,5.82
2,2,Cape Town,ZA,2020-10-21 17:43:22,-33.93,18.42,61.00,77,0,17.22
3,3,Bredasdorp,ZA,2020-10-21 17:47:42,-34.53,20.04,60.80,77,0,5.82
4,4,Saint-Francois,FR,2020-10-21 17:47:42,46.42,3.91,68.00,52,73,14.99

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature (in this case, the "weights" portion of the heatmap). 
max_temp = city_data_df["Max Temp"]

## gMaps does not accept negative values for heatmaps, so we need to replace anything less than 0 degrees 
## with 0 (code refactored for list comprehension below).
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable to a map layer specifically for heat maps.
# gMaps does not accept negative values, so we need to replace anything less than 0 degrees with 0 using list comprehension. 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=250, point_radius=3)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [18]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & 
                                       (city_data_df['Max Temp'] <= max_temp)]

In [21]:
preferred_cities_df.sort_values('Max Temp')

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
480,480,Tenango,MX,2020-10-21 17:48:48,18.65,-98.18,75.00,28,5,3.29
180,180,Victoria,HK,2020-10-21 17:44:58,22.29,114.16,75.00,64,100,1.01
172,172,Guacimo,CR,2020-10-21 17:48:05,10.21,-83.68,75.20,78,75,4.70
302,302,Riyadh,SA,2020-10-21 17:48:10,24.69,46.72,75.20,23,0,4.70
136,136,Bintulu,MY,2020-10-21 17:47:59,3.17,113.03,75.20,94,40,8.05
...,...,...,...,...,...,...,...,...,...,...
91,91,Robstown,US,2020-10-21 17:47:54,27.79,-97.67,89.01,66,20,11.41
423,423,San Patricio,US,2020-10-21 17:48:40,28.02,-97.52,89.01,66,20,11.41
557,557,Batalha,BR,2020-10-21 17:48:58,-9.68,-37.12,89.44,42,73,15.41
137,137,Ixtapa,MX,2020-10-21 17:48:00,20.70,-105.20,89.60,62,5,4.50
392,392,Markala,ML,2020-10-21 17:48:36,13.70,-6.07,89.60,20,0,3.20

In [23]:
preferred_cities_df.count()

City_ID       178
City          178
Country       176
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [32]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
21,21,Touros,BR,2020-10-21 17:45:54,-5.20,-35.46,78.80,83,75,14.99
30,30,Puerto Ayora,EC,2020-10-21 17:47:46,-0.74,-90.35,77.00,73,75,8.05
34,34,Atuona,PF,2020-10-21 17:47:46,-9.80,-139.03,77.27,72,52,17.29
35,35,Sabinas,MX,2020-10-21 17:47:46,27.85,-101.12,83.53,52,4,9.69
37,37,Xuddur,SO,2020-10-21 17:47:47,4.12,43.89,80.17,64,27,4.83
...,...,...,...,...,...,...,...,...,...,...
551,551,Lufkin,US,2020-10-21 17:47:38,31.34,-94.73,84.99,61,40,4.70
553,553,Warner Robins,US,2020-10-21 17:48:58,32.62,-83.60,80.60,69,75,4.70
557,557,Batalha,BR,2020-10-21 17:48:58,-9.68,-37.12,89.44,42,73,15.41
558,558,Mgandu,TZ,2020-10-21 17:48:58,-5.95,34.13,76.06,43,83,12.08
562,562,Mabaruma,GY,2020-10-21 17:48:59,8.20,-59.78,85.73,74,100,5.03

In [34]:
# Create a DataFrame to store hotels based on city, along with country, max temp, and coordinates. 
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng', ]].dropna().copy()
hotel_df['Hotel Name'] = ''
hotel_df.count()

City          176
Country       176
Max Temp      176
Lat           176
Lng           176
Hotel Name    176
dtype: int64

In [ ]:
# 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=lodging&key=' + g_key

In [35]:
# Set parameters to search for a hotel.
params = {
        "radius": 5000,
        "type": "lodging",
        "key": g_key
}

In [40]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get lat, long
    lat = row['Lat']
    lng = row['Lng']

    # Add the lat and long to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the 'type' of lodging, the lat/lng pair, and url to make request
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    hotels = requests.get(base_url, params=params).json()
    # Use try block to catch any request errors
    try:
        # Grab the first hotel from the response and store the name
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
        print(hotels['results'][0]['name'])
    except (IndexError):
        print('Hotel not found...skipping.')

INN NEW HORIZON
Finch Bay Galapagos Hotel
Villa Enata
Gran Hotel Sabinas
Banjanay Hotel
محمد هادي ال فطيح
CHACARA BAILLY
POUSADA O RECANTO
Chambres d'hôte "La Trinité"
Expeditions Ténére voyages
Hotel Fortune
Holiday Inn Express & Suites Elk Grove Central - Hwy 99
Quality Inn Ingleside - Corpus Christi
Abaco Beach Resort
Hilo Hawaiian Hotel
VS Villa
Isles Sunset Lodge
Siesta Hotel
Emeraude Beach Attitude Hotel
Kost Putri RABBANI
Cititel Penang
Hôtel & Restaurant DIANA Ambilobe
Days Inn by Wyndham Robstown
Hotel Vitória Palace
Grage Hotel Bengkulu
Pousada Porto Praia
Atlantis Hotel
HAMDAN PLAZA HOTEL
Hotels in Lakshadweep Islands
Hotel Gaudi
Derogongan Residence
3G hotel pasni
Casa Tia Villa
Hotel not found...skipping.
Hotel Cortez
900 Boutique INN
Container Inn Puerto Vallarta
Hotel Kununurra
Mystic Sands
Chez Dydyce Guesthouse
Maui Seaside Hotel
Kimbe Bay Hotel
OYO 3278 Penginapan Alfajri
Nuba Nile
Hotel Sagar Residency
Hospedaje Costa Bella
Pension Oaoa
Hotel Los Ríos
Comfort Inn Hotel
Pousada 100 Passos
Scoop Guest House
Hotel 5 Sóis
Mini Hotel Central
Okra Leaf Guest House Syariah
Kost Pria
Hotel not found...skipping.
Shandrani Beachcomber Resort & Spa
Macs
WHITNEY-WOLCOTT HOUSE ON LAKE CHARM
CeBlue Villas & Beach Resort
Hotel Juba
Udaya Boys Hostel
Quinta Samay
Pakbanglake resort ปากบางเลค รีสอร์ท
Pine Tree Motel
Grand hotel and golf
Vahmoneh Lodge Vanimo
Grand Kecubung Hotel
Hotel not found...skipping.
Hotel Fairmont Makkah Clock Royal Tower
Pousada do Trevo
Bils' Villa
Guesthouse Samotina
Kindness Hotel
Hotel Maione
Desert Gardens Hotel - Ayers Rock Resort
Hampton Inn Elizabeth City
Hôtel Le Dronmi
Ungoofaaru Inn
Fortune Resort Bay Island
Screensaver
Conrad Bora Bora Nui
Hotel Regente
Aboody Alhachem
Hotel not found...skipping.
Vanira Lodge
Resorts Resource Group International
La Quinta Inn & Suites by Wyndham Rome
Stop.
Bora-Bora Pearl Beach Resort & Spa
Pousada dos Navegantes
Comfort Inn & Suites Texas City
RG Palace
Hotel La dorada
SanBiz Lodge
OYO 1577 Hotel Shree Hari Grand
Hotel not found...skipping.
Résidence ARCHANGE
The Waigo Hotel
Hotel Octave Maldives
INN CORNER RIVER - PRADO - BAHIA - HOUSING AND HOTEL
Khách sạn Sài Gòn Bạc Liêu
InterContinental Riyadh
Marriott's Ko Olina Beach Club
Hotel not found...skipping.
Hotel Hacienda Campestre
بزرگمهر بزرگ زهیریه رامشیر
New century hotel
فروشگاه موبایل ترکمانی
Mercure Padang
REER XOOSHLE GROUP
Hotel Syariah CN Darussalam
Lorengau Harbourside Hotel
Lua Mansa Pousada
Haji laloo memon house
Camp Pālehua
Linareva Moorea Beach Resort
Kings Inn Paris TX
Pousada Recanto do Cerrado
Doha Marriott Hotel
Cachoeira Apart Hotel
Chibombo District Council Guest House
Yaya Hôtel
Hotel Central
Nathaniel's Lodge
Hotel not found...skipping.
Swiss-Belhotel Ambon
Suan Sampran
Hotel not found...skipping.
Hotel not found...skipping.
Mega Hotel, Miri
Hampton Inn & Suites Washington-Dulles International Airport
Lahaina Shores Beach Resort
Motel 6 Sinton, TX
La Quinta Inn & Suites by Wyndham Little Rock - Bryant
Oceano
HS Hotsson Smart Acapulco
hotêl doufoulougou
Namatanai Hotel
Hotel not found...skipping.
Pereybere Hotel & Spa
Hilton Virginia Beach Oceanfront
Trou aux Biches Beachcomber Golf Resort & Spa
Hotel Palacio Del Sol
la terrasse
Embassy Suites by Hilton Huntsville Hotel & Spa
Auki Motel
Holiday Inn Express & Suites del Rio
Nusa Island Retreat
Residence 'I Delfini'
Bustani B&B
Hotel not found...skipping.
El Medina
Hotel y restaurante "El Diamante"
Butterfly Beach Hotel
Ritz Lauca
Hotel La Ballena Azul
Osprey Beach Hotel
Pousada Porto De Canoas
Camp Pasica
Tarawa Boutique Hotel
Phama Lodge
Hospedaje Eco
قريه جديده
Araguaia Palace Hotel
Passion Hotel 2
Nuli Sapi
Hotel Pousada Quinta do Sul
Sherwood Motel
Chicho Hotel
Seaside Resort
Courtyard by Marriott Lufkin
Super 8 by Wyndham Warner Robins
Pousada Solar do Sertão
Hotel not found...skipping.
Hotel not found...skipping.

In [41]:
hotel_df.count()

City          176
Country       176
Max Temp      176
Lat           176
Lng           176
Hotel Name    176
dtype: int64

In [42]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
21,Touros,BR,78.80,-5.20,-35.46,INN NEW HORIZON
30,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
34,Atuona,PF,77.27,-9.80,-139.03,Villa Enata
35,Sabinas,MX,83.53,27.85,-101.12,Gran Hotel Sabinas
37,Xuddur,SO,80.17,4.12,43.89,Banjanay Hotel
...,...,...,...,...,...,...
551,Lufkin,US,84.99,31.34,-94.73,Courtyard by Marriott Lufkin
553,Warner Robins,US,80.60,32.62,-83.60,Super 8 by Wyndham Warner Robins
557,Batalha,BR,89.44,-9.68,-37.12,Pousada Solar do Sertão
558,Mgandu,TZ,76.06,-5.95,34.13,
562,Mabaruma,GY,85.73,8.20,-59.78,

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call fig and plot data
fig

Figure(layout=FigureLayout(height='420px'))